body {
    margin: 0;
    padding: 0;
    font-family: arial, verdana, helvetica, sans-serif;
}

.selected-unfocused {
    background-color: gray;
}

.selected-focused {
	background-color: #5599ff;
}

.hidden {
	text-decoration: underline;
	font-style: italic;
}